body, html{
	margin: 0;
}
*{
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
	color: #222;
}
header{
	position: fixed;
	top: 0;
	background-color: #fdd835;
	width: 100%;
	padding: 0;
	z-index: 10;
	border-bottom: 4px #0288d1 solid;
}
h1{
	color: white;
	text-align: center;
	text-shadow: 2px 3px 3px #795548;
	margin: 0;
	font-variant: small-caps;
    font-family: 'Open Sans', sans-serif;
}

.astroImg
{
	position: fixed;
	top: 2px;
	width: 50px;
	z-index: 99;
	background-color: transparent;
	left: -5px;
	transform: scale(-1, 1);
}

.connect
{
	position: absolute;
	right: 0;
	top: 0;
	height: 40px;
	z-index: 1;
	padding: 10px;
	display: flex;
	padding: 0;
	line-height: 40px;
	padding-left: 10px;
	overflow: hidden;
	z-index: 9999;
}
.connect>div{
	height: 90%;
	padding: 0 10px;
	margin-right: 2px;
	background-color: orange;
	border-left: 3px transparent solid; 
	border-right: 3px transparent solid; 
	border-bottom: 3px transparent solid; 
	border-radius: 0 0px 10px 10px ;
}
.connect>div:hover
{
	border-left: 3px #fb8c00 solid; 
	border-right: 3px #fb8c00 solid; 
	border-bottom: 3px #fb8c00 solid; 
}
.connect span{
	margin-left: 10px;
	font-weight: normal;
	line-height: 40px;
}
.connect a{
	color: #4e342e;
}

section{
	padding-top: 42px;
	width: 100%;
	display: flex;
}
.leftAside{
	position: fixed;
	left: 0;
	top: 42px;
	bottom: 0;
	width: 18%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: space-between;
}
.leftAside img{
	width: 150px;
	height: 150px;
	border-radius: 20px;
	object-fit: cover;
	margin: 10px;
	margin-bottom: 5px;
	border: 2px #0288d1 solid;
}
.leftAside h3{
	margin: 0;
}
.settingsBtn{
	width: 90%;
	background-image:linear-gradient(#fdd835, orange );
	height: 32px;
	border: 2px orange solid;
	border-radius: 5px;
	line-height: 32px;
	margin-bottom: 20px;
}
.settingsBtn i{
	margin-right: 10px;
}
.settingView{
	width: 100%;
	height: 92vh;
	align-items: center;
}
.settings{
/*	margin-top: 50px;
*/	display: inline-block;
	margin: 0 50px 0 20px;
	min-width: 20%;
}
.settings ul{
	width: 100%;
	padding: 0;
	margin: 0;
	padding-bottom: 10px;
}
.settings li {
	list-style-type: none;
	width: 100%;
	margin: 5px;
	background-image:linear-gradient(#fdd835, orange );
	height: 50px;
	border: 2px #fdd835 solid;
	border-radius: 5px;
	line-height: 50px;
	overflow: hidden;
	text-align: center;
}
.settings li:hover{
	background-image:linear-gradient(orange, #fdd835);
}
.btnBackSettings{
	background: lightblue;
	margin-bottom: 20px;
}
.btnBackSettings i{
	margin-right: 15px;
}
.settingsBtn:hover{
	background-image:linear-gradient(orange, #fdd835);
}
.centerArticle{
	width: 60%;
	margin-left: 18%;
	padding-top: 30px;
	background-color: whitesmoke;
}
.startGame{
	width: 90%;
	margin-left: 5%;
	margin-bottom: 4%;
	height: 300px;
	position: relative;
	background: orange;
	border-radius: 10px;
}
.startGame a{
	position:absolute;
	width : 100%;
	height: 100%;
	margin: 0;
}
.startGame a:hover .titleBtn
{
	background-color: rgba(2, 136, 209, 0.85);
}
.startGame img{
	margin: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	border-radius: 10px;
	object-fit: cover;
}
.titleBtn{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: rgba(2, 136, 209, 0.6);
	color: #DDD;
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
	border-radius: 0 0 10px 10px ;
	border-top: 3px #0288d1 solid;
	overflow: hidden;
}
.panel{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 63px;
	overflow: hidden;
	left: 30%;
	background-color: rgba(2, 136, 209, 0.2);
	border-left: 10px rgba(2, 136, 209, 1) solid;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	color: #EEE;
}
.panel h3
{
	font-family: 'Amatic SC', cursive;
	margin: 0;
	text-align: center;
	font-size: 28px;
}
.panel p{
	margin: 0 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
}
.startGame:hover .panel{
	display: block;
	animation-name: showDetails;
    animation-duration: 1s;
}
@keyframes showDetails {
    0%   
    {
    	opacity : 0;
        right : 0;
        left: 100%	;
    }
    100% {
    	opacity : 1;
        z-index: 99;
        left : 30%;
    }
}
.rightAside
{
	position: fixed;
	right: 0;
	top: 42px;
	bottom: 0px;
	width: 22%;
}
.chatContainer{
	position: absolute;
	top: 0;
	bottom: 20%;
	overflow-y: scroll;
	padding-bottom: 30px;
}
.rightAside h2{
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	margin: 10px;
}

.messageChat{
	width: 95%;
	margin: auto;
	border-radius: 5px;
	margin-bottom: 8px;
}
.messageChatTitle{
	display: flex;
}
.messageChatTitle img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	background-color: whitesmoke;
}
.messageChatTitle h4{
	margin: 0 10px;
	line-height: 40px;
	font-size: 20px;
}
.messageChatTitle p{
	margin: 0;
	font-size: 12px;
	line-height: 40px;
}
.messageChat>p{
	text-align: justify;
	margin: 0px 10px 15px 10px;
}
.postComment{
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
	border-radius: 10px;
	border: 1px #777 solid;
}
.postComment .messageChatTitle{
	border-radius:  10px 10px 0 0;
	background-color: whitesmoke;
	padding: 3px;
	border-bottom: 1px #BBB solid;
}

.postComment form{
	display: flex;
	flex-direction: column;
	height: 70px;
}
.postComment textarea{
	height: 100%;
	border : none;
/*	border: 1px #4fc3f7 solid;
*/}
.postComment input, .btnSubmitSetting{
	background-image:linear-gradient(#4fc3f7, #0288d1);
	height: 40px;
	border: 1px #0288d1 solid;
	border-radius: 0 0 10px 10px;
}
.postComment input:hover, .btnSubmitSetting:hover{
	background-image:linear-gradient(#0288d1, #4fc3f7);
}

.infoAboutUser{
	display: none;
	position: absolute;
	width: 200px;
	height: 200px;
	left: 28px;
	margin-top: 20px;
	background-color: whitesmoke;
	border-radius: 0 16px 16px 16px;
	border: 1px #0288d1 solid;
	z-index: 99;
}
.infoAboutUser img{
	width: 100%;
	height: 100%;
	border-radius: 0 16px 16px 16px;
	object-fit: cover;
}
.infoAboutUser div{
	position: absolute;
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 0 0 16px 16px;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.messageChatTitle:hover  .infoAboutUser{
	display: block;
}
.infoAboutUser:hover{
	display: block;
}


.alert{
    position: absolute;
    opacity: 0;
    border-radius: 20px;
    width: 90%;
    left: 5%;
    top: 15%;
    z-index: -10;
    text-align: center;
    animation-name: disparait;
    animation-duration: 3.5s;
}
.alertRed
{
    background-color: #f44336;
}
.alertGreen
{
    background-color: #aeea00;
}
.alert p{
    font-size: 20px;
}
@keyframes disparait {
    0%   {opacity : 1;
        z-index: 99;
    }
    65%  {opacity : 0.9;
        z-index: 99;}
    100% {opacity : 0;
        z-index: -1;
    }
}
#boxImg img{
	width: 130px;
	height: 130px;
	border-radius: 40px;
	border: 5px transparent solid;
	opacity: 0.85;
	object-fit: cover;
	margin: 10px;
}
#boxImg img:hover, .active {
	border: 5px #0288d1 solid;
	opacity: 1;
}

.mainContentSettings{
	background-color: whitesmoke;
	width: 90%;
	height: 100%;
	padding: 20px;
}
.mainContentSettings h3{
	text-align: center;
	font-size: 36px;
	font-family: 'Amatic SC', cursive;
	margin: 15px;
}
.mainContentSettings>div{
	display: flex;	
	margin: 10px;
}
.mainContentSettings form{
	text-align: center;
	margin-top: 50px;
}
.mainContentSettings form p{
	font-size: 20px;
}
.mainContentSettings input{
	height: 40px;
	width: 300px;
	border-radius: 5px;
	font-size: 20px;
	padding-left: 10px;
}
.infoUserSettings{
	padding: 20px;
}
.infoUserSettings img{
	width: 200px;
	height: 200px;
	border-radius: 10px;
	margin-right: 20px;
	object-fit: cover;
}
.infoUserSettings h4{
	font-size: 30px;
	font-variant: small-caps;
}
.commentsSettings{
	flex-direction: column;
}
.commentsSettings span{
	font-weight: bold;
}
.commentsSettings a{
	color:red; 
	float: right;
}
.commentsSettings p{
	margin: 0 10px;
	padding: 5px;
}
.commentsSettings p:hover{
	background-color: #DDD;
}